.container {
  background-color: var(--background-gray);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: var(--text-light);
  max-width: 400px;
  margin: 5rem auto;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid var(--text-light);
  border-radius: 4px;
  background-color: var(--background-dark);
  color: var(--text-light);
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
}

.shortened-url {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: var(--background-dark);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.shortened-url h2 {
  color: var(--text-light);
}

.shortened-url a,
td a {
  color: var(--primary-color);
  text-decoration: none;
}

.shortened-url a:hover,
td a:hover {
  text-decoration: underline;
}
